<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>pancake  cloud</title>
    <link rel="stylesheet" th:href="@{/images/styles.css}">
</head>
<body>
    <form id="orderForm" method="post" th:action="@{/orders}" th:object="${orders}">
        <h1> Order your pancake creation</h1>
        <img th:src="@{/images/PancakeCloud.png}"/>
        <h3>you pancake in this order:</h3>
        <a th:href="@{/design}" id="another">design another pancake</a><br/>

        <ul>
            <li th:each="pancake : ${orders.pancakes}">
                <span th:text="${pancake.name}">pancake name</span>
            </li>
        </ul>
        <div th:if="${#fields.hasErrors()}">
            <span class="validationError"> please correct the problems before resubmit</span>
        </div>
        <h3> Deliver my pancake masterpieces to ...</h3>
        <label for="deliveryName">deliveryName:</label>
        <input type="text" id="deliveryName" th:field="*{deliveryName}"/>
        <span class="validationError" th:if="${#fields.hasErrors('deliveryName')}" th:errors="*{deliveryName}">deliveryName Error</span>
        <br/>

        <label for="deliveryStreet">street address</label>
        <input type="text" id="deliveryStreet" th:field="*{deliveryStreet}"/>
        <span class="validationError" th:if="${#fields.hasErrors('deliveryStreet')}" th:errors="*{deliveryStreet}">street Error</span>
        <br/>
        <label for="deliveryCity">deliveryCity: </label>
        <input type="text" id="deliveryCity" th:field="*{deliveryCity}" />
        <span class="validationError" th:if="${#fields.hasErrors('deliveryCity')}" th:errors="*{deliveryCity}">city ERROR</span>
        <br />

        <label for="status">Status: </label>
        <input type="text" id="status" th:field="*{status}" />
        <span class="validationError" th:if="${#fields.hasErrors('status')}" th:errors="*{status}"> status Error</span>
        <br />

        <label for="deliveryZip">Zip code: </label>
        <input type="text" id="deliveryZip" th:field="*{deliveryZip}" />
        <span class="validationError" th:if="${#fields.hasErrors('deliveryZip')}" th:errors="*{deliveryZip}"> zip Error</span>
        <br />

        <h3>Here's how I'll pay...</h3>
        <label for="ccNumber">Credit Card : </label>
        <input type="text" id="ccNumber" th:field="*{ccNumber}" />
        <span class="validationError" th:if="${#fields.hasErrors('ccNumber')}" th:errors="*{ccNumber}">ccNumber Error</span>
        <br />

        <label for="ccExpiration">Expiration: </label>
        <input type="text" id="ccExpiration" th:field="*{ccExpiration}" />
        <span class="validationError" th:if="${#fields.hasErrors('ccExpiration')}" th:errors="*{ccExpiration}">ccExpiration Error</span>
        <br />

        <label for="ccCVV">CVV: </label>
        <input type="text" id="ccCVV" th:field="*{ccCVV}" />
        <span class="validationError" th:if="${#fields.hasErrors('ccCVV')}" th:errors="*{ccCVV}">ccCVV  Error</span>
        <br />
        <input type="submit" value="submit your order"/>
    </form>
</body>
</html>